@using MudBlazor
@using Microsoft.AspNetCore.Components.Routing
@using Ultimate.IntegrationSystem.Web.Components.Layout


<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<Router AppAssembly="@typeof(App).Assembly" PreferExactMatches="true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Ultimate.IntegrationSystem.Web.Components.Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Ultimate.IntegrationSystem.Web.Components.Layout.MainLayout)">
            <p>عذراً، لا توجد صفحة هنا.</p>
        </LayoutView>
    </NotFound>
</Router>
