@using Microsoft.Extensions.Localization
@using MudBlazor
@using System.Globalization
@inherits LayoutComponentBase

@inject IStringLocalizer<SharedResources> L

<MudThemeProvider>
    <MudDialogProvider>
        <MudSnackbarProvider>
            <MudLayout>
                <MudDrawer Open="true" Variant="DrawerVariant.Persistent" Anchor="Anchor.End">
                    <NavMenu />
                </MudDrawer>

                <MudMainContent dir="@Direction">
                    <MudAppBar Color="Color.Primary">
                        <MudText Typo="Typo.h6">@L["AppTitle"]</MudText>
                        <MudSpacer />
                        <MudSwitch T="bool" @bind-Checked="isDarkMode" Color="Color.Default" />
                    </MudAppBar>

                    <div class="p-4">
                        @Body
                    </div>
                </MudMainContent>
            </MudLayout>
        </MudSnackbarProvider>
    </MudDialogProvider>
</MudThemeProvider>

@code {
    private bool isDarkMode;
    private string Direction => CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}
